<ion-header>
  <ion-toolbar [ngClass]='categorie'>
    <ion-title *ngIf="nomParcelle" (click)="resetNomParcelle()">{{nomParcelle}}</ion-title>
    <div *ngIf="!nomParcelle">
      <table class="parcelle">
        <tr>
          <td>
            <ion-item class="shadowInput">
              <ion-label>Parcelle</ion-label>
              <ion-select [(ngModel)]="nomParcelle" okText="Ok" cancelText="Annuler" (ionCancel)="onCancel()"
                (ionChange)="changeClass()">
                <ion-option *ngFor="let nomParcelle of selectParcelle" [value]="nomParcelle.nom"
                  [selected]="nomParcelle.check">{{nomParcelle.nom}}</ion-option>
              </ion-select>
            </ion-item>
          </td>
          <td class="al-right">
            <button ion-button small (tap)="addParcelle()">
              <ion-icon name="add-circle"></ion-icon>
            </button></td>
        </tr>
      </table>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content class="card-background-page">
  <ion-grid>
    <ion-row (click)="addvalue('P')" class="box boxtop">
      <ion-col>
        <img src="assets/imgs/stadeP.jpg" class="imgBox" />
      </ion-col>
      <ion-col>
        <span class="apex-title">Pleine croissance</span>
      </ion-col>
    </ion-row>
    <ion-row (click)="addvalue('R')" class="box boxbottom">
      <ion-col>
        <img src="assets/imgs/stadeR.jpg" class="imgBox" />
      </ion-col>
      <ion-col>
        <span class="apex-title">Croissance ralentie</span>
      </ion-col>
    </ion-row>
    <ion-row (click)="addvalue('C')" class="box boxmiddle">
      <ion-col>
        <img src="assets/imgs/stadeC.jpg" class="imgBox" />
      </ion-col>
      <ion-col>
        <span class="apex-title">Croissance arrétée</span>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-toolbar>
      <button ion-button block color="danger" (tap)="closeRognee()" class="rognee">
          <ion-icon name="custom-cisaille"></ion-icon>
        </button>
    <ng-container *ngIf="numberApex < thresholdApex; else elseTemplate">

      <button ion-button block color="dark" (tap)="apexAlert()" class="compute"> Observation :
        {{numberApex}}/{{thresholdApex}}</button>
    </ng-container>
    <ng-template #elseTemplate>
      <button ion-button block color="secondary" (tap)="closeModal()" class="compute">Calculer les indices</button>
    </ng-template>

  </ion-toolbar>
</ion-footer>
