page-about {

    .pjustify{
        text-align: justify;
      }
    
    .titleh{
      color: #b4b20d;
    }
    
    .imglogo{
      height: 50px;
      display: block;
      margin-left: auto;
      margin-right: auto;
  }

  .imglogo2{
    height: 70px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
  
  .tablelogo{
    width: 100%;
  }

  .centerclass{
    text-align: center;
  }
}
