page-apex-saisie-rang {
  .shadowInput{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 8px 0 rgba(230, 131, 94, 0.438);

}
  .title {
    text-align: center;
  }

  .parcelleName {
    text-align: center;
    //font-weight: bold;
    color: rgb(39, 63, 87);
  }

  .parcelle {
    width: 100%;
  }

  .al-right {
    text-align: right;
  }

  .imgsize {
    width: 80px;
    height: 80px;
  }

  .datecss{
    width: 80px;
  }

  .rognee{
    display: inline;
    width: 20%;
  }
  .compute{
    width: 78%;
    display: inline;
  }

  .graycolor{
    color: rgb(88, 88, 88);
  }
}
