page-apex-saisie-rang {
    .parcelleName{
        font-weight: bold;
        color: rgb(39, 63, 87);
      }

    .parcelle{
        width: 100%;
    }

    .al-right{
        text-align: right;
      }

    .imgsize{
        width: 60px;
        height: 60px;
    }
}

