page-apex-saisie-rang {
  .title {
    text-align: center;
  }

  .parcelleName {
    text-align: center;
    //font-weight: bold;
    color: rgb(39, 63, 87);
  }

  .parcelle {
    width: 100%;
  }

  .al-right {
    text-align: right;
  }

  .imgsize {
    width: 90px;
    height: 90px;
  }

  .list .toolbar-background{
    background-color: rgba(241, 194, 106, 0.5);
  }

}
