<ion-header>
  <ion-toolbar [ngClass]='categorie'>
    <ion-grid *ngIf="nomParcelle">
        <ion-row (click)="resetNomParcelle()">
          <ion-col>
            <ion-title>{{nomParcelle}}</ion-title>
          </ion-col>
          <ion-col col-auto>
            <ion-title>
              <ion-icon name="create"></ion-icon>
            </ion-title>
          </ion-col>
        </ion-row>
      </ion-grid>
    <div *ngIf="!nomParcelle">
      <table class="parcelle">
        <tr>
          <td>
            <ion-item class="shadowInput">
              <ion-label>Parcelle</ion-label>
              <ion-select [(ngModel)]="nomParcelle" okText="Ok" cancelText="Annuler" (ionCancel)="onCancel()"
                (ionChange)="changeClass()">
                <ion-option *ngFor="let nomParcelle of selectParcelle" [value]="nomParcelle.nom"
                  [selected]="nomParcelle.check">{{nomParcelle.nom}}</ion-option>
              </ion-select>
            </ion-item>
          </td>
          <td class="al-right">
            <button ion-button small (tap)="addParcelle()">
              <ion-icon name="add-circle"></ion-icon>
            </button></td>
        </tr>
      </table>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <div>
        <ion-item>
          <ion-label color="primary" stacked class="datecss">Date de l'observation</ion-label>
          <ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]="myDate" placeholder="{{dateOld}}" doneText="ok" cancelText="annuler" ></ion-datetime>
        </ion-item>
      </div>
  <div>
    <ion-item>
      <ion-label color="primary" stacked>APEX pleine croissance</ion-label>
      <ion-input type="number" placeholder="nombre ..." [(ngModel)]="apexP"></ion-input>
    </ion-item>
  </div>
  <div>
    <ion-item>
      <ion-label color="primary" stacked>APEX croissance ralentie</ion-label>
      <ion-input type="number" placeholder="nombre ..." [(ngModel)]="apexR"></ion-input>
    </ion-item>
  </div>
  <div>
    <ion-item>
      <ion-label color="primary" stacked>APEX croissance ralentie</ion-label>
      <ion-input type="number" placeholder="nombre ..." [(ngModel)]="apexC"></ion-input>
    </ion-item>
  </div>

</ion-content>
<ion-footer>
  <ion-toolbar>
    <button ion-button block color="secondary" (tap)="closeModal()">Modifier l'observation</button>
  </ion-toolbar>
</ion-footer>
