page-edit {
  .shadowInput{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 8px 0 rgba(230, 131, 94, 0.438);

}
      
      .parcelleName {
        text-align: center;
        //font-weight: bold;
        color: rgb(39, 63, 87);
      }

      .title {
        text-align: center;
      }    
      .parcelle {
        width: 100%;
      }
}
