page-contact {

    .pjustify{
        text-align: justify;
      }
      
    .txt{
        background-color: #e7e7e7;
    }

    .imglogo{
        display: block;
        margin-left: auto;
        margin-right: auto;
        height: 40px;
    }
}
