<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Accueil</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h3>APEX</h3>
  <button ion-button large block (tap)="openModal()">Start Session</button>
  <button ion-button large block color="secondary" (tap)="openSaisieApex()">Start Saisie</button>

  <p>Current Latitude: {{locationTracker.lat}}</p>
  <p>Current Longitude: {{locationTracker.lng}}</p>

  <h3>Liste des sessions effectuées</h3>
  <ion-list>
    <ion-item *ngFor="let dataSess of dataSesion" >
      <ion-card *ngIf="dataSess.score < 40" class="scorebon">
        <ion-card-header>
          <h4>Nom : {{dataSess.name}}</h4>
        </ion-card-header>
        <ion-card-content>
          <p>Score : {{dataSess.score}}</p>
          <p>Le {{dataSess.date}} à {{dataSess.time}}</p>  
        </ion-card-content>
      </ion-card>

      <ion-card *ngIf="dataSess.score >= 40 && dataSess.score <= 60" class="scoremoyen">
          <ion-card-header>
            <h4>Nom : {{dataSess.name}}</h4>
          </ion-card-header>
          <ion-card-content>
            <p>Score : {{dataSess.score}}</p>
            <p>Le {{dataSess.date}} à {{dataSess.time}}</p>  
          </ion-card-content>
        </ion-card>

        <ion-card *ngIf="dataSess.score > 60" class="scoremauvais">
            <ion-card-header>
              <h4>Nom : {{dataSess.name}}</h4>
            </ion-card-header>
            <ion-card-content>
              <p>Score : {{dataSess.score}}</p>
              <p>Le {{dataSess.date}} à {{dataSess.time}}</p>  
            </ion-card-content>
          </ion-card>

    </ion-item>
  </ion-list>

</ion-content>
