page-tutoriel {
    .slider{
        color: whitesmoke;
        background-color: #26c4d8;
    }
    .moyen{
        width: 70px;
    }
    .mockup{
        width: 50%;
    }
    .foot{
        text-align: center;
    }
    
    .toolbar-background-md{
        background-color: #26c4d8 !important;
    }
    .rognee{
        display: inline;
        width: 20%;
      }
}
