page-viewdata {
 
    .cardChart{
        height: 250px;
        //width: 100%;
    }

    .title{
        text-align: center;
    }

    .titleCard{
        font-size: 1.3em;
    }

    .right{
        text-align: right;
    }
    
    .edit{
        color:royalblue;
     }

    .trash{
       color: brown;
    }

    .center{
        text-align: center;
    }

    .testty{
        color: rgb(151, 162, 191);
    }
}
