<ion-header>
  <ion-navbar>
    <ion-title>Détails du compte</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="test">
  <ion-card>
    <ion-card-content *ngIf="!isEdit" class="center">
      <p class="titlecard">Vos informations personnelles</p>
      <ion-grid class="leftSize">
        <ion-row>
          <ion-col col-1>
            <ion-icon name="contact"></ion-icon>
          </ion-col>
          <ion-col col-8>
            {{name}}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-1>
            <ion-icon name="mail"></ion-icon>
          </ion-col>
          <ion-col col-8>
            {{email}}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-1>
            <ion-icon name="home"></ion-icon>
          </ion-col>
          <ion-col col-8>
            {{structure}}
          </ion-col>
        </ion-row>
      </ion-grid>
      <button ion-button small color="light" (tap)="editInfo()">Editer</button>
    </ion-card-content>

    <ion-card-content *ngIf="isEdit" class="center">
      <p class="titlecard">Editer vos informations personnelles</p>
      <ion-item class="leftSize">
        <ion-label color="primary">
          <ion-icon name="contact"></ion-icon>
        </ion-label>
        <ion-input placeholder="nom" [(ngModel)]="name"></ion-input>
      </ion-item>
      <ion-item class="leftSize">
        <ion-label color="primary">
          <ion-icon name="mail"></ion-icon>
        </ion-label>
        <ion-input placeholder="email" [(ngModel)]="email"></ion-input>
      </ion-item>
      <ion-item class="leftSize">
        <ion-label color="primary">
          <ion-icon name="home"></ion-icon>
        </ion-label>
        <ion-input placeholder="structure" [(ngModel)]="structure"></ion-input>
      </ion-item>
      <button ion-button small color="light" (tap)="annulateInfo()">Annuler</button><button ion-button small
        (tap)="validateInfo()">Valider</button>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content class="center">
      <p class="titlecard">Recevoir les données par email</p>
      <ion-grid>
        <ion-row>
          <ion-col class="linecol">Parcelles</ion-col><ion-col>Observations</ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="linecol totalparcellecss">{{totalparcelle}}</ion-col><ion-col class="totalobscss">{{totalobservation}}</ion-col>
        </ion-row>
      </ion-grid>
      <button ion-button small (click)="sendEmail()">Envoyer les données</button>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content class="center">
      <p class="titlecard">Interprétation de la contrainte hydrique</p>
      <ion-item>
        <ion-label>Modèle de l'IFV <span *ngIf="modelifv">(activé)</span><span *ngIf="!modelifv">(désactivé)</span>
        </ion-label>
        <ion-toggle [(ngModel)]="modelifv" (ionChange)="ifvconf()"></ion-toggle>
      </ion-item>
    </ion-card-content>
    <ion-card-content class="center">
      <p class="titlecard">Observation des apex</p>
      <ion-item class="leftSize">
        <ion-label color="primary">
          Nombre d'apex à observer
        </ion-label>
        <ion-input type="number" placeholder="nombre ..." [(ngModel)]="nbapex"></ion-input>
      </ion-item>
      <button ion-button small (tap)="validateConf()">Valider</button>
      <p class="leftSize">Définissez le nombre minimum d'apex à observer pour chaque parcelle.</p>
    </ion-card-content>
  </ion-card>


</ion-content>
