page-compte {

    .test{
        background-color: rgb(155, 173, 182);
    }

    ion-card-header{
        background-color: #86919b;
        color: white !important;
        font-variant: small-caps;
        font-weight: bold;
        text-align: center;
        //font-size: 2em;
        //padding: 0.1em;
        //margin-bottom: 0.1em;
    }
    
    p{
        text-align: justify;
    }

    .titlecard{
        border-radius: 5%;
        background-color: rgb(69, 169, 187);
        color: white;
        font-variant: small-caps;
        font-weight: bold;
        text-align: center;
        font-size: 1.3em;
        padding: 0.1em;
        margin-bottom: 0.1em;
    }
    .center{
        text-align: center;
    }
    .leftSize{
        text-align: left;
    }

    .right{
        text-align: right;
    }

    .linecol{
        border-right: solid 1px #86919b;
    }
    .totalparcellecss{
        color: rgb(245, 147, 49);
        font-weight: bold;
        text-align: center;
        font-size: 1.3em;
    }
    .totalobscss{
        color: rgb(0, 101, 130);
        font-weight: bold;
        text-align: center;
        font-size: 1.3em;
    }
}
